body{
    color: white;
    background: rgb(159, 127, 231);
}

.heading{
    width: 80%;
    font-size: 22px;

}

.name_of_object{
    color: black;

}

#camera{
    border:2px dashed black;
    width: 350px;
    height: 300px;
}

